.conteinercalc {
width:80%;
margin-left:10%;
}

.calori{
margin-left:10%px
}
#koszkont {
width:80%;
margin-left:10%;
height:550px;
}
.navbar-light {
background: #21d192;
}
#fotter1 {
background-color: #21d192;
}
#h1calc {
margin-left:10%;
}

#createdcon {
width:80%;
margin-left:10%;
height:450px;
}

#ligincont {
width:80%;
margin-left:10%;
height:550px;
margin-top:50px;
}

#regcon {
width:80%;
margin-left:10%;
height:750px;
}

#H1title{
margin-left:50px;
text-aligh:center;}
#p1title{
}