{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/pad.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>{% block title %} {% endblock %}</title>


</head>
<body>
<!--top nav-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="margin-bottom:0px;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'mainapp:home'%}" style="margin-left:-10%;">WarszawGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top:5px">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item">

                    {% with total_items=cart|length %}
                    {% if cart|length > 0 %}


                    <a class="nav-link" href="{% url 'mainapp:detail' %}">

                        <div style="display:flex;justify-content:space-between;"><p style="margin-left:10px;">Kosz </p>
                            <p><span class="badge bg-dark text-white ms-1 rounded-pill">{{ total_items }}</span></p>
                        </div>

                    </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'mainapp:detail'%}">Kosz </a>
                    {% endif %}
                    {% endwith %}

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mainapp:calc'%}">Calculator </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#FFFFFF;">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPBez_laktozy_i_glutenu%5B-a-zA-Z0-9_%5D+)/">Bez
                            laktozy i glutenu </a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/%5Emenu/(%3FPSportowa%5B-a-zA-Z0-9_%5D+)/">Sportowa</a>
                        <a class="dropdown-item"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPStandardowa%5B-a-zA-Z0-9_%5D+)/">Standardowa</a>
                        <a class="dropdown-item"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPWegetarianska%5B-a-zA-Z0-9_%5D+)/">Wegetarianska</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/%5Emenu/(%3FPDiabetic%5B-a-zA-Z0-9_%5D+)/">Diabetic</a>

                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mainapp:contact'%}">Contact</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Konto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'mainapp:logout' %}">logout</a>
                        <a class="dropdown-item" href="{% url 'mainapp:konto_użytkownika' %}">Konto użytkownika</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'mainapp:login' %}">login</a>
                        <a class="dropdown-item" href="{% url 'mainapp:rejestracja' %}">rejestracja</a>
                        {% endif %}

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- bloks-->

<div class="maincontent">
    {% block main %} {% endblock %}
</div>
{% block content %} {% endblock%}


<div class="fotter">
    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5" id='fotter1'>


        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5" style="background-color: #21d192;">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">WarszawGo</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>WarszawGO to więcej niż catering dietetyczny
                        To filozofia życia zgodna z naturalnymi potrzebami żywieniowymi każdego z nas.</p>

                </div>
                <!-- Grid column -->

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Categori</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <a class="dark-grey-text"  style="color: #000 !important;
  text-decoration: none"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPBez_laktozy_i_glutenu%5B-a-zA-Z0-9_%5D+)/">Bez
                            laktozy i glutenu</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" style="color: #000 !important;
  text-decoration: none"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPSportowa%5B-a-zA-Z0-9_%5D+)/">Sportowa </a>
                    </p>
                    <p>
                        <a class="dark-grey-text" style="color: #000 !important;
  text-decoration: none"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPStandardowa%5B-a-zA-Z0-9_%5D+)/!">Standardowa</a>
                    </p>
                    <p>
                        <a class="dark-grey-text" style="color: #000 !important;
  text-decoration: none"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPWegetarianska%5B-a-zA-Z0-9_%5D+)/">Wegetarianska </a>
                    </p>
                    <p>
                        <a class="dark-grey-text" style="color: #000 !important;
  text-decoration: none"
                           href="http://127.0.0.1:8000/%5Emenu/(%3FPDiabetic%5B-a-zA-Z0-9_%5D+)/">Diabetic </a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <i class="fas fa-home mr-3"></i> Warszawa aleje jerozolimskie 95</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> catering.warszawgo@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 48 234 567 88</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 48 234 567 89</p>

                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Gdzie dowozimy</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto">
                    <p>
                        <i class="fas fa-home mr-3"></i>Śródmieście </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>Ochota</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> Wola</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> Mokotów</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> Żoliborz</p>

                </div>

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->


    </footer>
    <!-- Footer -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>